<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Path" value="C:\MyFolder\MyFile.csv"/>
    <add key="NoChannels" value="10"/>
    <add key="Channel1Name" value="Name1"/>
    <add key="Channel2Name" value="Name2"/>
    <add key="Channel3Name" value="Name3"/>
    <add key="Channel4Name" value="Name4"/>
    <add key="Channel5Name" value="Name5"/>
    <add key="Channel6Name" value="Name6"/>
    <add key="Channel7Name" value="Name7"/>
    <add key="Channel8Name" value="Name8"/>
    <add key="Channel9Name" value="Name9"/>
    <add key="Channel10Name" value="Name10"/>
    <add key="Channel11Name" value="Name11"/>
    <add key="Channel12Name" value="Name12"/>
    <add key="Channel13Name" value="Name13"/>
    <add key="Channel14Name" value="Name14"/>
    <add key="Channel15Name" value="Name15"/>
    <add key="Channel16Name" value="Name16"/>
    <add key="Channel17Name" value="Name17"/>
    <add key="Channel18Name" value="Name18"/>
    <add key="Channel19Name" value="Name19"/>
    <add key="Channel20Name" value="Name20"/>
    <add key="Channel1OpcTag" value="Tag1"/>
    <add key="Channel2OpcTag" value="Tag2"/>
    <add key="Channel3OpcTag" value="Tag3"/>
    <add key="Channel4OpcTag" value="Tag4"/>
    <add key="Channel5OpcTag" value="Tag5"/>
    <add key="Channel6OpcTag" value="Tag6"/>
    <add key="Channel7OpcTag" value="Tag7"/>
    <add key="Channel8OpcTag" value="Tag8"/>
    <add key="Channel9OpcTag" value="Tag9"/>
    <add key="Channel10OpcTag" value="Tag10"/>
    <add key="Channel11OpcTag" value="Tag11"/>
    <add key="Channel12OpcTag" value="Tag12"/>
    <add key="Channel13OpcTag" value="Tag13"/>
    <add key="Channel14OpcTag" value="Tag14"/>
    <add key="Channel15OpcTag" value="Tag15"/>
    <add key="Channel16OpcTag" value="Tag16"/>
    <add key="Channel17OpcTag" value="Tag17"/>
    <add key="Channel18OpcTag" value="Tag18"/>
    <add key="Channel19OpcTag" value="Tag19"/>
    <add key="Channel20OpcTag" value="Tag20"/>
  </appSettings>
</configuration>